body {
  background-image: url("https://images.unsplash.com/photo-1604259011171-2343696f776b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-color: #de5816;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: rgba(255, 255, 255, 0.75);
  width: 85vw;
  max-width: 650px;
  margin: auto;
  padding: 1em;
  min-height: 60vh;
  border-radius: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

h1 {
  font-family: 'Vujahday Script', cursive;
  font-size: 3em;
  text-align: center;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #de3b3b;
  -webkit-text-decoration: line-through;
  -webkit-text-decoration-thickness: 2px;
  -webkit-text-decoration-color: #de3b3b;
  -moz-text-decoration: line-through;
  -moz-text-decoration-thickness: 2px;
  -moz-text-decoration-color: #de3b3b;
  -ms-text-decoration: line-through;
  -ms-text-decoration-thickness: 2px;
  -ms-text-decoration-color: #de3b3b;
}

.removed {
  display: none;
}

/* .framed {
  border: 1px solid black;
} */

#list {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  /* margin: 5px 0; */
  padding: 0;
  margin: 5px 0 5px 32px;
  line-height: 1.5;
  text-align: center;
}

li:before {
  content: '\1F3BE'; /* url('/src/bullet-removebg-preview.png') */
  margin-left: -20px;
} 

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  margin: 5px 0;
  /* list-style-type: none; url('/src/bullet-removebg-preview.png') !important; */
}

.add {
  background: #a3b954;
  border: 1mm solid #b1c46e;
}

.delete {
  background: #e35959;
  border: 1mm solid #e97c7c;
}

.btn {
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  width: 7em;
  color: white;
  font-size: 1em;
  border-radius: 1em;
  margin: 1em;
}

input {
  flex: .75;
  padding: 0.5em;
  margin: 1em;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 1em;
  border: none;
  text-align: center;
}

::placeholder {
  text-align: center;
}

/* .paragraph {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} */